*{ padding: 0px; margin: 0px;}
.header{
    background-color: rgb(11, 177, 33);
    width: 900px;
    text-align: center;
    color: rgb(250, 248, 248);
    height: 45px;
}
.menu{
    background-color: rgb(187, 102, 184);
    width: 900px;
}
.marquee{
    width: 900px;
    background-color: rgb(155, 65, 80);
    height: 25px;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    border-right: 1px double black;
}
.menu ul li a{
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: #fff;
    transition: 1s;
}
.menu ul li a:hover{
     background-color: bisque;
     color: sienna;
}
.maincontent{
    width: 900px;
    display: flex;
} 
.sidebar1{
    width: 200px;
    background-color: skyblue;
    height: 600px;
    padding: 5px; margin: 0px;
}
.content{
    width: 500px;
    background-color: rgb(207, 158, 223);
    height: 600px;
    padding: 5px; margin: 0px;
}
.sidebar2{
    width: 200px;
    background-color: skyblue;
    height: 600px;
    padding: 5px; margin: 0px;
}
.sidebar3{
   width: 200px;
   background-color: rgb(70, 170, 177);
   height: 600px;
   padding: 5px; margin: 0px;
}
.content2{
    width: 500px;
    background-color: rgb(204, 104, 238);
    height: 600px;
    padding: 5px; margin: 0px;
}
.sidebar4{
    width: 200px;
    background-color: rgb(70, 170, 177);
    height: 600px;
    padding: 5px; margin: 0px;
}
.footer{
    width: 896px;
    background-color: rgb(155, 65, 80);
    height: 25px;
    padding: 2px; margin: 0px;
}